.auto-form {
  font-size: 16px;
  width: 18.75em;
  height: 2.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.autocomplete {
  width: 73%;
  height: 100%;
  position: relative;
}

.cont-btn {
  font-size: 1em;
  width: 25%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.autocomplete input {
  outline: none;
  color: #000;
  background-color: #f4f4f4;
  border: 2px solid #f4f4f4;
  padding: 0.4375em;
  font-size: 1em;
  border-radius: 0.375em;
  width: 100%;
  height: 99%;
  letter-spacing: 0.5px;
}

.autocomplete input:focus {
  border: 2px solid #0071bc;
}

.cont-btn button {
  outline: none;
  cursor: pointer;
  background-color: #0071bc;
  border: 2px solid #0071bc;
  color: #fff;
  border-radius: 0.375em;
  font-size: 1em;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}

.cont-btn button:focus {
  border: 2px solid #fff;
}

.cont-btn button:hover {
  border: 2px solid #0071bc;
  color: #fff;
  background-color: dodgerblue;
}
