.board-countries {
  max-width: 1700px;
  width: 97vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  border-radius: 0 0 10px 10px;
  padding-top: 100px;
  padding-bottom: 20px;
}

.country-card {
  width: 250px;
  height: 300px;
  border: 1px solid #fff;
  margin-left: 20px;
}
