.SidebarFilter {
  font-size: 16px;
  max-width: 20em;
  min-width: 18em;
  height: auto;
  padding-bottom: 1em;
}
.selectCountry {
  width: 100%;
  height: 50px;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.compareSection {
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.compareSection .check-container {
  padding-left: 1em;
}
.compareSection .check-container label {
  margin-left: 1em;
}
